table {
    border-collapse: collapse;
}

td {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
}

.white {
    background: #fff8b5;
}

.black {
    background: #5da437;
}

tr:last-child td  {
    border: none;
    vertical-align: baseline;

}

td:first-child {
    border: none;
    text-align: right;
    padding-right: 3px;
}

.whiteFigure {
    color: white;
}

.blackFigure {
    color: black;
}

i {
    font-size: 24px;
    text-shadow: 0 0px 3px gray;
}

.chess-symbols {
    font-size: 26px;
    text-shadow: 0 0 5px black;
}

